<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallensakura.mapper.DishMapper">

    <update id="update">
        UPDATE dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectFlavorsByDishId" resultType="com.fallensakura.dto.FlavorDTO">
        select
            f.id,
            f.name,
            f.value,
            df.dish_id AS dishId
        from flavor f
        inner join dish_flavor df on f.id = df.flavor_id
        where df.dish_id = #{dishId}
        order by f.id
    </select>

    <select id="selectPageVO" resultType="com.fallensakura.vo.DishVO">
        select
            d.id,
            d.name,
            d.category_id as categoryId,
            c.name as categoryName,
            d.status,
            d.price,
            d.image,
            d.description,
            d.update_time as updateTime
        from dish d
        left join category c on d.category_id = c.id
        <where>
            <if test="dto.name != null and dto.name != ''">
                and d.name like concat('%', #{dto.name}, '%')
            </if>
            <if test="dto.categoryId != null">
                and d.category_id = #{dto.categoryId}
            </if>
            <if test="dto.status != null">
                and d.status = #{dto.status}
            </if>
        </where>
        order by c.update_time desc, d.id
    </select>
</mapper>
